

@media (min-width: 700px) {
  #menu {
    display: none;
  }

  #navigation {
    display: flex;
    flex-direction: row;
  }

  .home-grid {
    grid-template-columns: 2fr 1fr;
  }

  .course-buttons {
    grid-template-columns: repeat(3, 1fr);
  }

  .course-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

